In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("http://13.234.66.67/summer19/datasets/social.csv")

In [9]:
#schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [11]:
#top 5 rows
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [18]:
#removing user ID
filterdata=df.iloc[:,2:].values

In [21]:
# now we can apply training test

features=filterdata[:,0:2]

In [22]:
# label 
label=filterdata[:,2]

In [25]:
# training and testing
from sklearn.model_selection import train_test_split

In [42]:
X,x,Y,y = train_test_split(features,label,test_size=0.2)

In [43]:
# now applying features scaling
from sklearn.preprocessing import StandardScaler

In [44]:
sc=StandardScaler()

In [45]:
# apply scalling in training data only
X=sc.fit_transform(X)

In [46]:
# testing data scalling
x=sc.transform(x)

In [47]:
# KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [48]:
# random forest call with number of decision tree
Rclf=RandomForestClassifier(n_estimators=20)

In [49]:
# Now training
trained = Rclf.fit(X,Y)

In [54]:
# Now predicting
output=trained.predict(x)

In [55]:
y

array([1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0])

In [57]:
output

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0])