In [1]:
#Importing required modules
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [2]:
#reading data
train_df=pd.read_csv('train_data.csv')
test_df=pd.read_csv('test_data.csv')

In [3]:
# Top 8 data
train_df.head(8)

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
5,5,6,0,1,0.3500,0.016510,0,0,1,0.0,1,0,0,0,0,1,0
6,6,7,0,1,0.6750,0.101229,1,0,0,0.0,1,0,0,0,0,0,1
7,7,8,0,1,0.0250,0.041136,0,0,1,0.4,0,0,1,0,0,0,1

In [4]:
# Fetching training data and its result
features = train_df.iloc[:,3:]
label = train_df.iloc[:,2]

In [5]:
test_df.head(2)

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,791,792,0,1,0.20,0.050749,0,1,0,0.0,1,0,0,0,0,0,1
1,792,793,0,0,0.35,0.135753,0,0,1,1.0,0,0,0,1,0,0,1

In [6]:
#testing data and result
feature_test = test_df.iloc[:,3:]
label_test = test_df.iloc[:,2]

In [7]:
# calling DecisionTree clf
clf = DecisionTreeClassifier()

In [8]:
# training
trained = clf.fit(features,label)

In [9]:
#predicting
predicted=trained.predict(feature_test)

In [10]:
# predicted data
predicted

array([0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0])

In [11]:
# actual answer
label_test.values

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [12]:
#check accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(predicted,label_test)

0.8